@page
@model WebCRUD.Pages.Clients.IndexModel
@{
}

<br>
<h2>List of Clients</h2>
<a class="btn btn-primary btn-sm" href="/Clients/Create">Add New Client</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>PHONE</th>
            <th>ADDRESS</th>
            <th>CREATED_AT</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
